extends layout 

block content 
  h1 Dish name: #{name}

  p #[strong Description: ] #{desc}
  p #[strong Price: ] #{price}
  p #[strong Dish category: ]
    a(href=category.url) #{category.name}
  hr
  p 
    a(href=dish.url+"/delete") Delete dish